* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: #e6fcd9;
    padding-top: 50px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
}

.name {
    border-left: #333 1px solid;
    padding-left: 10px;
    font-size: 1.4em;
    font-weight: bold;
    text-transform: uppercase;
    color: #276955;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-item {
    position: relative;
    cursor: pointer;
    color: #276955;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: none;
    min-width: 150px;
}

.nav-item:hover .dropdown {
    display: block;
}

.dropdown a {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    color: #276955;
    transition: background-color 0.3s;
}

.dropdown a:hover {
    background-color: #f0f0f0;
}

a {
    text-decoration: none;
    color: #276955;
    transition: color 0.3s;
}

a:hover {
    color: #194437;
}

.cont-bloques {
padding: 8.5em 30px;
max-width: 1200px;
margin: 0 auto;
}

.grid-bloques {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;   
}

.bloque {
    background: rgb(205, 238, 187);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 3px 15px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
    min-height: 450px;
}

.bloque:hover {
    transform:scale(1.05);
    box-shadow: 0 5px 20px rgba(0,0,0,0.15);
}

.bloque-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    font-size: 1.5em;
    color: #194437;
}

.bloque-texto button#conversor {
    padding: 5px 5px 5px 5px;
    border-radius: 11px;
    background-color:#ebe7e7b4;
}

.bloque-texto button#conversor:hover {
    background-color: #ebe7e7;
    color: #194437;
    transition: all 0.3s ease;
}